
.custom-table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
.custom-table td, .custom-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-table tr:hover {background-color: #ddd;}

.custom-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3553e4;
    color: white;
}